
# MODULE 1
etu-02-demarche-de-modelisation/etu-04-exercices.ipynb
etu-02-demarche-de-modelisation/etu-05-retrogradation-mars.ipynb
etu-02-demarche-de-modelisation/*.jpg
etu-02-demarche-de-modelisation/*.png
etu-02-demarche-de-modelisation/DataMars.csv
etu-02-demarche-de-modelisation/europe-ca.csv

etu-03-suites-relations-recurrence/
etu-04-ajustement-modele/
etu-05-derivation-integration/
etu-06-equations-differentielles/
*/.ipynb_checkpoints


# OTHERS
.DS_Store