
# MODULE 1
etu-02-demarche-de-modelisation/etu-04-exercices.ipynb
etu-02-demarche-de-modelisation/etu-05-retrogradation-mars.ipynb
etu-02-demarche-de-modelisation/DataMars.csv

etu-03-suites-relations-recurrence/etu-05-mini-projet-logistique.ipynb
etu-03-suites-relations-recurrence/*.png

etu-04-ajustement-modele/etu-03-exercices.ipynb
etu-04-ajustement-modele/etu-04-mini-projet-rechauffement-climatique.ipynb
etu-04-ajustement-modele/*.csv
etu-04-ajustement-modele/*.dat
etu-04-ajustement-modele/*.png

etu-05-derivation-integration/etu-02-derivation-integration-exercices.ipynb
etu-05-derivation-integration/etu-03-mini-projet-digue.ipynb
etu-05-derivation-integration/*.csv
etu-05-derivation-integration/*.dat
etu-05-derivation-integration/*.png

etu-06-equations-differentielles/
*/.ipynb_checkpoints


# OTHERS
.DS_Store