
# MODULE 1
etu-01-python-base/etu-03-fonctions-modules.ipynb
etu-01-python-base/etu-04-module-numpy.ipynb
etu-01-python-base/etu-05-fonctions-numpy.ipynb
etu-01-python-base/etu-06-module-matplotlib.ipynb
etu-02-demarche-de-modelisation/
etu-03-suites-relations-recurrence/
etu-04-ajustement-modele/
etu-05-derivation-integration/
etu-06-equations-differentielles/
*/.ipynb_checkpoints


# OTHERS
.DS_Store